<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{title}}</title>
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/jquery.bxslider.css">
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
  {# Header #}
  {% include 'templates/partials/header.njk' %}

  {# Main content #}
  <main class="clearfix">
    {# breadcrumbs #}
    {% include 'templates/partials/breadcrumbs.njk' %}

    {% block content %} {% endblock %}
  </main>

  {# Footer #}
  {% include 'templates/partials/footer.njk' %}


  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="/js/jquery.bxslider.min.js"></script>
  <script src="../js/cookies.js"></script>
  <script>
    $(document).ready(function(){
      $('.bxslider').bxSlider({
        responsive: false,
        auto: true,
        mode: 'fade',
        speed: 300,
        captions: true,
        slideWidth: 509
      });

      // $('#bookmark').on('click', function(e) {
      //   e.preventDefault();
      //
      //   console.log(e.type);
      //   $(this).toggleClass('isBookmark');
      // });
    });
  </script>
</body>
</html>
