<footer class="main-footer">
  <div class="container clearfix">
    <ul class="socials">
      <li><a href="#" class="social social-vk">Вконтакте</a></li>
      <li><a href="#" class="social social-fb">Facebook</a></li>
      <li><a href="#" class="social social-tw">Twitter</a></li>
    </ul>
  </div>
</footer>
