<footer class="main-footer">
  <div class="container clearfix">
    <ul class="socials">
      <li><a href="#">Вконтакте</a></li>
      <li><a href="#">Facebook</a></li>
      <li><a href="#">Twitter</a></li>
    </ul>
    <p class="copyright">Copyright 2017 </p>
  </div>
</footer>
