{% macro addGym (address, telephone, class) %}
  <section class="gym {{class}}">
    <a><img src="" alt="gym photo"></a>
    <div class="gym-info">
        <b>Адрес:</b>
        <p> {{ address }} </p>
    </div>
    <div class="gym-info">
        <b>Телефон:</b>
        <p> {{ telephone }} </p>
    </div>
  </section>
{% endmacro %}
