{% macro addGym (address, telephone, class) %}
  <section class="gym {{ class }} clearfix">
    <a><img src="../img/{{ class }}.jpg" alt="gym photo"></a>
    <p class="gym-info">
        <b>Адрес: </b>
        {{ address }}
    </p>
    <p class="gym-info">
        <b>Телефон:</b>
        {{ telephone }}
    </p>
  </section>
{% endmacro %}
