{% macro addProgram (title, description, class, url) %}
<section class="program {{ class }}">
    <h2> {{ title }}</h2>
    <div class="program-content">
      <p> {{ description }}</p>
      <a class="btn btn-prog" href="{{ url }}">Подробнее</a>
    </div>
  </section>
{% endmacro %}
