/*
*
* Variables
*
*/
/*
*
* mixins
*
*
*/
/*
*
* General styles
*
*/
body {
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
}
a {
  text-decoration: none;
  color: #000000;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.btn {
  display: block;
  text-decoration: none;
  text-align: center;
  color: #000000;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #ffffff;
}
.container,
main {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}
.mark {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.5em;
  text-transform: uppercase;
}
/*
*
* Header
*
*/
.main-header {
  background: #dcdcdc url('../img//pattern.png') repeat;
  color: #000000;
}
.main-header .container {
  position: relative;
  padding: 20px 0;
}
.logo {
  margin: 0;
  padding: 0;
  font-size: 3em;
}
.logo-mark {
  color: #ffffff;
  background-color: #8f4848;
}
.main-nav {
  float: left;
  width: 700px;
}
.main-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav ul li {
  display: inline-block;
  margin-right: 20px;
}
.main-nav ul li a {
  display: block;
}
.main-nav-list a {
  padding: 10px 0;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}
.main-nav-list a:visited {
  color: #000000;
}
.main-nav-list a:hover,
.main-nav-list a.main-nav-selected {
  color: #8f4848;
  box-shadow: 0 3px #8f4848;
}
.search {
  float: right;
  max-width: 300px;
}
input[type="text"],
input[type="search"] {
  margin-top: 3px;
  padding: 5px 10px;
  font: inherit;
  border: none;
  outline: none;
  border: 2px solid #8f4848;
  border-radius: 15px;
}
.btn-search {
  display: inline-block;
  padding: 15px;
  font-size: 0;
  vertical-align: bottom;
  background: #8f4848 url('../img//magnifier.svg') center center no-repeat;
  border-radius: 50%;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.btn-search:hover {
  transform: scale(1.2);
}
.history-wrapper {
  position: absolute;
  top: 10%;
  right: 0;
  text-align: right;
}
#history {
  font-size: 0.6;
  color: #666666;
}
.btn-bookmark {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 35px;
  height: 47px;
  font-size: 0;
  background: url("../img//bookmark.png") no-repeat;
}
.isBookmark {
  background: url("../img//bookmark-grey.png") no-repeat;
}
/*
*
* Main
*
*/
main {
  padding-top: 20px;
}
.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 20px;
}
.breadcrumbs li {
  display: inline-block;
  margin-right: 10px;
}
.breadcrumbs li a {
  display: block;
}
.breadcrumbs a {
  font-size: 0.8em;
  font-weight: bold;
  color: #666666;
}
.breadcrumbs a::after {
  content: ">";
}
.breadcrumbs a:last-child::after {
  content: "";
}
.slider-block {
  float: left;
  width: 560px;
}
.bx-wrapper .bx-caption {
  text-align: right;
}
.bx-wrapper .bx-caption span {
  font-size: 1.5em;
  text-transform: uppercase;
}
.index-block {
  margin-bottom: 20px;
}
.index-aside {
  float: right;
  width: 400px;
}
.gym {
  position: relative;
  min-height: 125px;
  margin-bottom: 20px;
  padding-left: 110px;
  box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.5);
}
.gym::before {
  position: absolute;
  left: 0;
  width: 100px;
  height: 100%;
  content: "";
}
.gym h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
  font-size: 1.2em;
}
.gym h3 a {
  display: block;
}
.gym-content {
  padding: 10px;
}
.gym-addr {
  background: url("../img//addr.svg");
}
.gym-tel {
  background: url("../img//tel.svg");
}
.gym-red::before {
  background-color: #8f4848;
}
.gym-red .gym-info b {
  border-color: #8f4848;
}
.gym-red h3 {
  border-bottom: 1px solid #8f4848;
}
.gym-red h3:hover {
  box-shadow: 0 2px #8f4848;
}
.gym-red .gym-mark {
  color: #ffffff;
  background-color: #8f4848;
}
.gym-green::before {
  background-color: #2b5656;
}
.gym-green .gym-info b {
  border-color: #2b5656;
}
.gym-green h3 {
  border-bottom: 1px solid #2b5656;
}
.gym-green h3:hover {
  box-shadow: 0 2px #2b5656;
}
.gym-green .gym-mark {
  color: #ffffff;
  background-color: #2b5656;
}
.gym-info {
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
}
.gym-info:last-child {
  margin-bottom: 0;
}
.gym-info b {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 3px;
  font-size: 0;
  vertical-align: middle;
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center center;
  border-width: 2px;
  border-style: solid;
}
.program {
  position: relative;
  float: left;
  width: 306px;
  min-height: 350px;
  margin-right: 20px;
  padding-bottom: 50px;
  background-color: #eeeeee;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);
}
.program:last-child {
  margin-right: 0;
}
.program h2 {
  margin: 0;
  padding: 0;
  padding: 10px;
  text-align: center;
  background: #dcdcdc url('../img//pattern.png') repeat;
}
.program-gym h2 {
  color: #8f4848;
}
.program-gym .btn-prog {
  background-color: #8f4848;
}
.program-group h2 {
  color: #8f6c48;
}
.program-group .btn-prog {
  background-color: #8f6c48;
}
.program-salon h2 {
  color: #488f48;
}
.program-salon .btn-prog {
  background-color: #488f48;
}
.program-content {
  padding: 5px 20px;
  text-align: left;
}
.btn-prog {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 10px 0;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  color: #ffffff;
  box-shadow: 0 0px 1px 2px rgba(0, 0, 0, 0.5);
}
.btn-prog:hover {
  box-shadow: inset 0 -1px 2px 2px rgba(0, 0, 0, 0.3);
}
.main-footer {
  min-height: 50px;
  padding: 30px;
  background-color: #636363;
  box-shadow: inset 0 2px 5px 3px rgba(0, 0, 0, 0.5);
}
.socials {
  width: 400px;
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 0 auto;
  font-size: 0;
  text-align: center;
}
.socials li {
  display: inline-block;
  margin-right: 30px;
}
.socials li a {
  display: block;
}
.social {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.social-vk {
  background-image: url("../img//vk.svg");
}
.social-fb {
  background-image: url("../img//facebook.svg");
}
.social-tw {
  background-image: url("../img//twitter.svg");
}
.social:hover {
  transform: scale(1.1);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
}
