// out: ../styles.css

/*
*
* Variables
*
*/

@max-width: 960px;
@basic-font: 16px;
@basic-bg-color: #dcdcdc;
@basic-color: #000000;
@hover-color: #8F4848;
@menu-padding: 10px;
@img: "../img/";

/*
*
* mixins
*
*
*/

.align-center() {
  margin: 0 auto;
}

.reset-space() {
  margin: 0;
  padding: 0;
}

.reset-style() {
  border: none;
  outline: none;
}

.width(@parent, @padding, @border) {
  width: @parent - 2*@padding - 2*@border;
}

.border-solid-rounded(@width: 1px, @color: #000, @radius: 0) {
  border: @width solid @color;
  border-radius: @radius;
}

.horizontal-list (@padding: 10px) {
  .reset-space;
  list-style: none;
    li {
      display: inline-block;
      margin-right: @padding;
        a {
          display: block;
        }
    }
}

.program-color(@color) {
  border-color: @color;
  h2 {
    color: @color;
  }

  .btn-prog {
    background-color: @color;
  }
}

/*
*
* General styles
*
*/


body {
  font-size: @basic-font;
  line-height: 1.5;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.btn {
  display: block;

  text-decoration: none;
  text-align: center;
  color: @basic-color;

  .reset-style();
  cursor: pointer;
  background-color: @basic-bg-color;
}


.container,
main {
  width: @max-width;
  .align-center;
  padding: 0 10px;
}

.main-header,
.main-footer {
  padding: 20px 0;
  background: @basic-bg-color url('@{img}/pattern.png') repeat;
  color: @basic-color;
}

.logo {
  .reset-space;
  font-size: 3em;
}

.logo-mark {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.5em;
  color: #ffffff;
  background-color: @hover-color;
}

.main-nav {
  float: left;
  width: 700px;
    ul {
      .horizontal-list(20px);
    }
}

.main-nav-list a {
  padding: @menu-padding 0;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;

  &:visited {
    color: @basic-color;
  }

  &:hover,
  &.main-nav-selected {
    color: @hover-color;
    box-shadow: 0 3px  @hover-color;
  }
}

.search {
  float: right;
  max-width: 300px;
}

input[type="text"],
input[type="search"] {
  @v-padding: 5px;
  @border: 2px;
  @top-margin: @menu-padding - @v-padding - @border;
  margin-top: @top-margin;
  padding: @v-padding 10px;
  font: inherit;
  .reset-style;
  .border-solid-rounded(@border, @hover-color, 15px);
}

.btn-search {
  display: inline-block;
  padding: 15px;
  font-size: 0;
  vertical-align: bottom;;
  background: @hover-color url('@{img}/magnifier.svg') center center no-repeat;
  border-radius: 50%;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);

  &:hover {
    transform: scale(1.2);
  }
}

.slider-block {
  float: left;
  width: 560px;
}


.index-aside {
  float: right;
  width: 400px;
}

.gym {
  margin-bottom: 40px;

  a {
    float: left;
    margin-right: 10px;
  }
}

.program {
  float: left;

  @h-padding: 20px;
  @border: 1px;
  .width(306, @h-padding, @border);
  padding: 10px @h-padding;
  margin-right: 20px;

  .border-solid-rounded(@radius: 15px);

  &:last-child {
    margin-right: 0;
  }

  &-gym {
    .program-color (#ff0000);
  }

  &-group {
    .program-color (#00ff00);
  }

  &-salon {
    .program-color (#0000ff);
  }
}

.btn-prog {
  padding: 10px 20px;
}

.socials {
  float: left;
  width: 700px;
  text-align: center;
  .horizontal-list(30px);
}

.copyright {
  float: right;
  width: 200px;
}
