{% extends "templates/layout.njk" %}

{% set page = 'home' %}

{% block content %}
  <section class="index-block clearfix">
    <div class="slider-block">
      <ul class="bxslider">
        <li><img src="/img/pic1.jpg" title="Уютная атмосфера"></li>
        <li><img src="/img/pic2.jpg" title="Современное оборудование"></li>
        <li><img src="/img/pic3.jpg" title="Профессиональные тренеры"></li>
        <li><img src="/img/pic4.jpg" title="Групповые занятия"></li>
      </ul>
    </div>
    <aside class="index-aside">
      {% import 'templates/macros/gym.njk' as gym %}
      {{ gym.addGym("ул.Волгоградская 54б", "8 (495) 254-54-67", "red") }}
      {{ gym.addGym("ул.Битютская 16", "8 (495) 256-21-09", "green") }}
    </aside>
  </section>
  <section class="index-block clearfix">
    {% import 'templates/macros/program.njk' as program %}
    {{ program.addProgram ("Тренажеры",
                           "В просторном помещении располагаются самые разнообразные тренажеры,
                            направленные на развитие всех групп мышц. Мы постарались сделать все,
                            чтобы вы непременно достигли поставленной цели, какой бы она ни была",
                           "program-gym",
                           "/page/gym") }}
    {{ program.addProgram ("Групповые программы",
                           "Занятия фитнесом в группе – это классика, которая подходит большинству посетителей.
                            Групповые программы в нашем клубе рассчитаны как для новичков, так и для
                            продвинутого уровня. Групповые занятия проходят в непринуждённой атмосфере,
                            где каждый может проявить себя по способностям.",
                           "program-group",
                           "page/group") }}
    {{ program.addProgram ("Салон красоты",
                           "Салон красоты — место, где вы можете расслабиться после напряженных тренировок,
                            наслаждаясь приятным уходом и первоклассным обслуживанием. Несмотря на широкое
                            разнообразие услуг, здесь чувствуешь себя как дома.",
                            "program-salon",
                            "page/salon") }}
  </section>
{% endblock %}
