{% extends "templates/layout.njk" %}

{% set page = 'home' %}

{% block content %}
  <section class="index-block clearfix">
    <div class="slider">

    </div>
    <aside class="index-aside">
      {% import 'templates/macros/gym.njk' as gym %}
      {{ gym.addGym("ул.Волгоградская 54б, вход со двора", "8(495)254-54-67", "gym-red") }}
      {{ gym.addGym("ул.Битютская 16", "8(495)256-21-09", "gym-green") }}
    </aside>
  </section>
  <section class="index-block clearfix">
    {% import 'templates/macros/program.njk' as program %}
    {{ program.addProgram ("Тренажеры",
                           "В просторном помещении располагаются самые разнообразные тренажеры,
                            направленные на развитие всех групп мышц. Мы постарались сделать все,
                            чтобы вы непременно достигли поставленной цели, какой бы она ни была",
                           "program-gym",
                           "/page/gym",
                           "program-availiable",
                           "program-availiable") }}
    {{ program.addProgram ("Групповы программы",
                           "Занятия фитнесом в группе – это классика, которая подходит большинству посетителей.
                            Групповые программы в нашем клубе рассчитаны как для новичков, так и для
                            продвинутого уровня. Групповые занятия проходят в непринуждённой атмосфере,
                            где каждый может проявить себя по способностям.",
                           "program-group",
                           "page/group",
                           "program-availiable",
                           "program-availiable") }}
    {{ program.addProgram ("Салон красоты",
                           "Салон красоты — место, где вы можете расслабиться после напряженных тренировок,
                            наслаждаясь приятным уходом и первоклассным обслуживанием. Несмотря на широкое
                            разнообразие услуг, здесь чувствуешь себя как дома.",
                            "program-salon",
                            "page/salon",
                            "program-availiable",
                            "program-notavailiable") }}
  </section>
{% endblock %}
